

.calendar {
    width: 200px;
    height: 100%;
    margin: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(217, 217, 217);
    position: relative;
}

.calendar-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.calendar-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.calendar-exit {
  opacity: 1;
  transform: translateX(0);
}

.calendar-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}






  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }

  .calendar-data{
    font-size: 15px;
  }
  
  .calendar-day {
    text-align: center;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  // .empty-day {
  //   visibility: hidden;
  // }
  
  .selected-day {
    background-color: rgba(154, 195, 241, 0.9) !important;
    color: rgb(255, 0, 0);
    font-weight: bold;
  }
  

  // .current-week {
  //   background-color: rgba(154, 195, 241, 0.3);
  // }
