/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none; }

body {
  font-family: 'Kelly Slab', sans-serif; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: initial; }

a:hover {
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

.head-calendar {
  width: 100dvw;
  height: 100dvh;
  background-color: #cdcdcd; }
  .head-calendar .calendar-view-days-container {
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: white;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb; }
    .head-calendar .calendar-view-days-container .calendar-view-block-start {
      display: flex;
      flex-direction: row;
      height: 100%;
      flex: 0 0 28px;
      border-right: 1px solid #dbdbdb; }
    .head-calendar .calendar-view-days-container .calendar-view-days-today {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      height: 100%;
      background-color: white;
      border-right: 1px solid #dbdbdb; }
    .head-calendar .calendar-view-days-container .calendar-view-days-all {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      height: 100%;
      background-color: white;
      border-right: 1px solid #dbdbdb; }
    .head-calendar .calendar-view-days-container .previous-week {
      position: absolute;
      top: 0;
      margin-left: 10px; }
      .head-calendar .calendar-view-days-container .previous-week .arrow-left {
        width: 30px;
        height: 30px; }
    .head-calendar .calendar-view-days-container .next-week {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 10px; }
      .head-calendar .calendar-view-days-container .next-week .arrow-right {
        width: 30px;
        height: 30px; }
  .head-calendar .calendar-view-table-conteiner {
    display: flex;
    flex-direction: row;
    height: 1000px;
    overflow-y: scroll; }
    .head-calendar .calendar-view-table-conteiner .calendar-view-time-conteiner {
      display: flex;
      flex: 0 0 28px;
      height: 1000px;
      flex-direction: column;
      background-color: #ececec;
      border-right: 1px solid #dbdbdb;
      color: #adadad;
      background-color: #fff;
      position: relative; }
      .head-calendar .calendar-view-table-conteiner .calendar-view-time-conteiner .calendar-view-time {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        font-size: 10px;
        height: 100%; }
      .head-calendar .calendar-view-table-conteiner .calendar-view-time-conteiner .calendar-view-time:nth-child(1) {
        background-color: #c23b3b;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        position: absolute;
        height: 44px;
        width: 27px; }
      .head-calendar .calendar-view-table-conteiner .calendar-view-time-conteiner .calendar-view-time:nth-child(2) {
        background-color: #f2f2f2;
        border-bottom: 1px solid #ccc;
        position: absolute;
        height: 44px;
        width: 27px;
        top: 43px; }
      .head-calendar .calendar-view-table-conteiner .calendar-view-time-conteiner .calendar-view-time:nth-child(3) {
        background-color: #f2f2f2;
        border-bottom: 1px solid #ccc;
        position: absolute;
        height: 43px;
        width: 27px;
        top: 87px; }
      .head-calendar .calendar-view-table-conteiner .calendar-view-time-conteiner .calendar-view-time:nth-child(4) {
        background-color: #f2f2f2;
        border-bottom: 1px solid #ccc;
        position: absolute;
        height: 43px;
        width: 27px;
        top: 130px; }
    .head-calendar .calendar-view-table-conteiner .calendar-view-column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      border-right: 1px solid #dbdbdb;
      background-color: #ececec;
      padding-top: 10px; }
      .head-calendar .calendar-view-table-conteiner .calendar-view-column .calendar-view-table {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-top: 1px solid #dbdbdb; }

/*# sourceMappingURL=headCalendar.css.map */
