@import 'reset';

.head-calendar{
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(205, 205, 205);

    .calendar-view-days-container{
        display: flex;
        flex: 0 0 auto;
        position: relative;
        width: 100%;
        height: 10vh;
        background-color: rgb(255, 255, 255);
        border-top: 1px solid rgb(219, 219, 219);
        border-bottom: 1px solid rgb(219, 219, 219) ;

        .calendar-view-block-start{
            display: flex;
            flex-direction: row;
            height: 100%;
            flex: 0 0 28px;
            border-right: 1px solid rgb(219, 219, 219);
        }

        .calendar-view-days-today{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            border-right:1px solid rgb(219, 219, 219) ;

        }

        .calendar-view-days-all{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            border-right:1px solid rgb(219, 219, 219) ;
        }


        .previous-week{
            position: absolute;
            top: 0;
            margin-left: 10px;
           

            .arrow-left{
                width: 30px;
                height: 30px;
               
            }
        }

        .next-week{
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 10px;
            

            .arrow-right{
                width: 30px;
                height: 30px;
            }
        }
    }

    .calendar-view-table-conteiner{
        display: flex;
        flex-direction: row;
       height: 1000px;
       overflow-y: scroll;

       
       

        .calendar-view-time-conteiner{
            display: flex;
            flex: 0 0 28px;
            height: 1000px;
            
            flex-direction: column;
            background-color: rgb(236, 236, 236);
            border-right:1px solid rgb(219, 219, 219);
            color:rgb(173, 173, 173) ;
            background-color: #fff;
            position: relative;
           
         
            
            
            

            .calendar-view-time{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                font-size: 10px;
                height: 100%;
                
              
              
                
            }

            .calendar-view-time:nth-child(1) {
                background-color: #c23b3b; 
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
               position: absolute;
               height: 44px;
               width: 27px;

              }
              .calendar-view-time:nth-child(2) {
                background-color: #f2f2f2;
                border-bottom: 1px solid #ccc;
               position: absolute;
               height: 44px;
               width: 27px;
               top: 43px;

              }

              .calendar-view-time:nth-child(3) {
                background-color: #f2f2f2;
                border-bottom: 1px solid #ccc;
               position: absolute;
               height: 43px;
               width: 27px;
               top: 87px;

              }

              .calendar-view-time:nth-child(4) {
                background-color: #f2f2f2;
                border-bottom: 1px solid #ccc;
               position: absolute;
               height: 43px;
               width: 27px;
               top: 130px;

              }
              

        }
       
       

      

        .calendar-view-column{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border-right:1px solid rgb(219, 219, 219) ;
            background-color: rgb(236, 236, 236);
            padding-top: 10px;
        

          
        
            .calendar-view-table{
                display: flex;
                flex-direction: column;
                height: 100%;
                border-top: 1px solid rgb(219, 219, 219);
            }

        }
        
    }

   
}

// .daysOfWeek{
//     cursor: pointer;
// }

