@import 'reset';



.personal-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    order: 1;
    height: auto;
    width: 100%;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1); 

    
    .personal-name{
        width: 60vw;
        height: auto;
        margin-top: 5px;
        border-top: 1px solid #cac9c9;
        
        position: relative;
    }
}


.personal-form{
    display: flex;
    flex-direction: column;

    .info{
        white-space: nowrap;
        width: 200px;
        margin: 20px 0 0 30px;
        border-bottom: 1px solid #efeeee;
        font-weight: 800;
        font-size: 18px;
        color: rgb(108, 108, 108);
        letter-spacing: 2px;

    }

    .info-stack{
        width: 200px;
        margin: 20px 0 10px 30px;
        border-bottom: 1px solid #efeeee;
        font-weight: 800;
        font-size: 18px;
        color: rgb(108, 108, 108);
        letter-spacing: 2px;
    }
    

    label{
        margin-top: 10px;
        margin-left: 50px;
        color: rgb(108, 108, 108);
        width: 100px;
    }

   .username{
    width: 40vw;
    background-color: #efeeee;
    margin-left: 50px;
    border-radius: 3px;
}

    .last-name{
        width: 40vw;
        background-color: #efeeee;
        margin-left: 50px;
        border-radius: 3px;
    }

    .personal-btn-wrapper{
        display: flex;
            justify-content: flex-end;
        

        .personal-save{
            border-radius: 10px;
            border: 2px solid #b9b9b9;
            margin-right: 50px;
            margin-top: 10px;
             .personal-save-btn{
                 padding: 5px;
                
             }
         }
    }

    .select-stack{
        margin-top: 10px;
        cursor: pointer;
        width: 100%;
    }

    .selected-stack{
        margin-top: 10px;
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .stack-span{
        margin-left: 10px;
       
    }

    
}


.stack-label{
    margin-top: 20px;
}
.css-t3ipsp-control{
    border-color: rgb(0, 0, 0) !important;
    box-shadow: none !important;
}

.css-t3ipsp-control:hover {
    border-color: #fff !important;
}

.css-12a83d4-MultiValueRemove{
    display: none !important;
}

.stack-ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    

    .stack-li{
        background-color: rgb(233, 233, 233);
         border-radius: 5px;
         padding: 10px;
         display: flex;
         margin: 0 auto;
        
   }

   .remove-stack{
    width: 15px;
    height: auto;
    font-size: 0px;
    

    .stack-img{
        width: 15px;
        height: auto;
        margin-left: 3px;
        
       }

   }

   
   
}

  
