/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none; }

body {
  font-family: 'Kelly Slab', sans-serif; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: initial; }

a:hover {
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

.mobile-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #cac9c9;
  position: relative; }
  .mobile-menu .arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    left: 10px; }
  .mobile-menu .mobile-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 220px; }
  .mobile-menu .line {
    width: 70vw;
    height: 10px;
    border-bottom: 1px solid #cac9c9; }
  .mobile-menu .setting-acc-ul {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center; }
    .mobile-menu .setting-acc-ul .setting-p {
      white-space: nowrap;
      color: #6e6e6e; }
    .mobile-menu .setting-acc-ul .setting-pr {
      white-space: nowrap;
      color: #6e6e6e;
      margin-bottom: 10px;
      margin-top: 5px; }
    .mobile-menu .setting-acc-ul .setting-acc-li {
      font-weight: 100;
      padding: 10px 0 10px 0;
      margin-left: 20px; }
      .mobile-menu .setting-acc-ul .setting-acc-li .setting-btn {
        display: flex;
        white-space: nowrap;
        width: 100%;
        padding-left: 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease; }
      .mobile-menu .setting-acc-ul .setting-acc-li .setting-btn:hover,
      .mobile-menu .setting-acc-ul .setting-acc-li .setting-btn:active,
      .mobile-menu .setting-acc-ul .setting-acc-li .setting-btn:focus {
        background-color: #b3b6b8;
        outline: none; }

@media screen and (min-width: 666px) {
  .mobile-menu.visible {
    display: flex; }

  .mobile-menu {
    display: none; } }
.visible {
  display: flex; }

/*# sourceMappingURL=setting-menu-list.css.map */
