@import 'reset';

body{
    height: 100vh;
    background-color: rgb(247, 247, 247);
}

.setting-head{
    display: flex;
    height: auto;
    background-color: rgb(247, 247, 247);
    position: relative;
    
    
    .personal-name-page{
        position: absolute;
        left: 250px;
        top: 30px;
        font-weight: 500;
        letter-spacing: 1.5px;
        font-size: 20px;
    }
    

    .setting-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 250px;
        min-height: 100vh;
        height: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #cac9c9;
        position: relative;
       

        .arrow{
            position: absolute;
            width: 30px;
            height: 30px;
            top: 15px;
            left: 10px;

        }

        .setting-wrapper{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 50px;
            width: 220px;

           

            .line{
                width: 200px;
                height: 10px;
                border-bottom:1px solid #cac9c9;
            }

            .setting-acc-ul{
                padding-top: 10px;
                
                .setting-p{

                    white-space: nowrap;
                    color: #6e6e6e;
                    
    
                }

                .setting-pr{

                    white-space: nowrap;
                    color: #6e6e6e;
                    margin-bottom: 10px;
                    margin-top: 5px;
                    
    
                }
                

                .setting-acc-li{
                    font-weight: 100;
                    padding: 10px 0 10px 0;
                    margin-left: 20px;

                    .setting-btn{
                        display: flex;
                        white-space: nowrap;
                        width: 100%;
                        padding-left: 10px;
                        border-radius: 5px;
                        transition: background-color 0.3s ease;
                    }

                    .setting-btn:hover,
                    .setting-btn:active,
                    .setting-btn:focus {
                    background-color: #b3b6b8;
                    outline: none;
                    }
                    
                }
            }

            .setting-logout{
                color: rgb(153, 5, 5);
                margin-top: 20px;
            }
        }
    }

    @media (max-width: 665px) {
        .setting-container {
          display: none; /* Скрываем .setting-container, когда ширина экрана менее 665px */
        }
      }
}


.active{
    background-color: #b3b6b8;
}