@import 'reset';


.usr-container {
    width: 300px;
    height: 100%;
    margin: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(217, 217, 217);
}


.table-sm{
    font-size: 13px;   
}



.table-responsive{
    height: 100%;
}